[]
127.0.0.1 ansible_ssh_port=

[:vars]
initial_data=
host_name=
version_jenkins=
port_mysql=
port_photos=
port_nextcloud=
port_jenkins=
                                        
user_piwigo=
user_mysql=
user_nextcloud=
user_jenkins=
password_jenkins=
password_mysql_root=
password_mysql_piwigo=
password_mysql_nextcloud=
password_nextcloud_admin=
user_nextcloud_admin=

path_nextcloud_data=
path_photos_pictures=
path_photos_config=
path_mysql_data=

domain_photos=
domain_cloud=

domains=

