[]
127.0.0.1:2222


[:vars]
host_name=
version_jenkins=
port_mysql=
port_photos=
port_nexctloud=
port_jenkins=
                                        
user_piwigo=
user_mysql=
user_nexcloud=
user_jenkins=
password_jenkins=
password_mysql_root=


